.hero {
    background-image: url(../img/bg.png);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 927px;

    @media (max-width: $tablet) {}


    &__container {
        padding: 80px 0;
        margin: 0 168px 0 230px;

        @media (max-width: $tablet) {
            padding: 50px 0;
            margin: 30px 93px;
        }


    }


    &__row {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 786px;
        margin: 0 auto;
        gap: 45px;

        @media (max-width: $tablet) {
            max-width: 353px;
            gap: 40px;
        }
    }

    &__row-title {
        @media (max-width: $tablet) {
            font-weight: 400;
            font-size: 48px;
            line-height: 55px;
        }
    }

    &__row-text {
        max-width: 766px;
        color: $color-white;
        margin-bottom: 70px;
        text-align: center;
    }


    &__button {
        margin: 0 auto;
    }

}

.features {
    &__container {
        margin-top: 106px;


    }

    &__cards {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 52px;
        padding: 80px 0;


    }

    &__cards-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        max-width: 251px;

        &:nth-child(2) {
            margin-bottom: 33px;
        }

    }

    &__cards-item-text {
        text-align: center;
        padding: 0 10px;

    }

    &__cards-item-title {
        text-align: center;
    }

    &__title {
        margin-bottom: 41px;
        text-align: center;
    }

    &__text {
        max-width: 532px;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 80px;
    }

    &__img {
        max-width: 1177px;
        margin-left: 150px;
        position: relative;
        padding-bottom: 52px;

    }

    &__img-icon {
        position: absolute;
        left: 495.3px;
        top: 235.3px;
        transition: transform 0.25s;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.content {
    &__container {
        max-width: 1244px;
        display: flex;
        align-items: center;
        gap: 50px;
        padding: 57px 0;
        margin: 226px 266px;

    }

    &__row {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 17px;
    }

    &__row-title {
        max-width: 335px;
    }

    &__button {
        margin-top: 43px;
    }

    &__img {
        width: 50%;
    }

}

.light {
    &__container {
        padding: 106px 50px 50px 0;
        display: flex;
        justify-content: space-between;
        gap: 50px;
        margin: 0 168px;

    }

    &__img {
        width: 50%;
    }

    &__right {
        padding: 121px 0 0 63px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    &__right-item {
        margin-bottom: 7px;
    }

    &__right-title {
        margin-bottom: 15px;
    }

    &__forms {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &__form-input {
        background: #F4F4F4;
        border: 1px solid #E8E8E8;
        border-radius: 39px;
        width: 273px;
        height: 54px;
        padding: 19px 39px;
        margin: 36px 0;
    }

    &__button {
        width: 172px;
    }


}

.partners {
    &__container {
        padding-top: 80px;
    }

    &__title {
        text-align: center;
        padding: 7px 0;
    }

    &__text {
        text-align: center;
        max-width: 552px;
        margin: 0 auto;
    }

    &__items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        max-width: 1075px;
        margin: 80px 182px 220px;
    }

    &__items-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        border: 1px solid $color-border;
        height: 160px;
        padding: 25px 36px;
    }




}

.testi {
    &__container {
        padding: 100px 226px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        margin-bottom: 80px;
    }

    &__content-text {
        text-align: center;
    }

    &__content-item {
        display: flex;
        align-items: center;
        gap: 13px;
    }

    &__content-item-text {
        display: flex;
        flex-direction: column;
    }

    &__button {
        margin: 0 auto;
        width: 276px;
        height: 60px;
    }



    &__title {
        text-align: center;
        margin-bottom: 80px;

    }

    &__content-item-img {
        max-width: 50px;
    }
}

.pricing {
    &__container {
        background-color: $color-blue;
        max-width: 1777px;
    }

    &__title {
        color: $color-white;
        text-align: center;
        padding-top: 100px; 
    }

    &__text {
        color: $color-white;
        text-align: center;
        max-width: 532px;
        margin: 0 auto;
        padding-top: 20px;
    }

    &__items {
        display: flex;
        gap: 50px;
        align-items: center;
        justify-content: center;
        padding: 80px 336px 100px;


       
    }

    &__items-card {
        background-color: $color-white;
        width: 335px;
        height: 607px;
        padding: 40px 40px;
        border: 1px solid $color-border-1;
        box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin: 43px 0;
    }

    &__items-card-first-title {
        text-align: center;
        margin-bottom: 5px;
    }

    &__items-card-first-text {
        text-align: center;
        max-width: 148px;
    }

    &__items-card-row {
        display: flex;
        gap: 10px;
    }

    &__items-card-row-block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    &__items-card-row-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        
    }
    
    
    
}

.contact {

    &__container {
        padding: 50px 0;
        margin: 153px 168px 52px;
    }

    &__title{
        text-align: center;
        margin-bottom: 17px;  
    }
    &__text{
        text-align: center;
        max-width: 532px;
        margin: 0 auto;
    }
    &__row-left {
        background: $color-white;
        border: 1px solid $color-border-2;
        box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
        border-radius: 20px;
        width: 453px;
        height: 669px;
        padding: 52px 50px;
    }

    &__row-left-title{
        text-align: center;
        margin-bottom: 45px;
    }
    &__row{
        display: flex;
        gap: 50px;
        justify-content: center;
        margin: 50px 106px;
    }
    &__row-right-items{
        display: flex;
        justify-content: center;
        gap: 15px;
        max-width: 725px;
    }
    &__row-right-items-address,
    &__row-right-items-phone,
    &__row-right-items-mail{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;  
    }

    &__row-right-items-address-text{
        text-align: center;
        max-width: 313px;
    }
    &__row-right-items-mail-text{
       margin-top: 10px;
    }
    &__row-right-map{
        margin: 50px 104px;
        max-width: 516px;
    }

    &__row-right-link {
        display: flex;
        gap: 24px;
        padding: 10px;

    }

    &__row-right-link-item-1 {
        color: $color-button;
        transition: transform 0.25s;
        
        
        &:hover {
            transform: scale(1.1);
            color: $color-blue-1;

        }
    }
}