.hero {
    background-image: url(../img/bg.png);
    height: 927px;

    @media (max-width: $tablet) {
        
    }


    &__container {
        padding: 80px 0;
        margin: 0 168px 0 230px;

        @media (max-width: $tablet) {
            padding: 50px 0;
            margin: 30px 93px;
        }


    }


    &__row {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 786px;
        margin: 0 auto;
        gap: 45px;

        @media (max-width: $tablet) {
            max-width: 353px;
            gap: 40px;
        }
    }

    &__row-title {
        @media (max-width: $tablet) {
            font-weight: 400;
            font-size: 48px;
            line-height: 55px;
        }
    }

    &__row-text {
        max-width: 766px;
        color: $color-white;
        margin-bottom: 70px;
    }


    &__button {
        margin: 0 auto;
    }

}

.features {
    &__container {
        margin-top: 106px;
        
        
    }
    &__cards{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 52px;
        padding: 80px 0;
        

    }
    &__cards-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        max-width: 251px;

        &:nth-child(2){
            margin-bottom:33px;
        }

    }
    &__cards-item-text{
        text-align: center;
        padding: 0 10px;

    }
    &__cards-item-title{
        text-align: center;
    }

    &__title{
        margin-bottom: 41px;
    }
    &__text{
        max-width: 532px;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 80px;
    }
    &__img{
        max-width: 1177px;
        margin-left: 150px;
       position: absolute;
       
    }
    &__icon{
        position: relative;
        left: 663.3px;
        top: 235.3px;
        transition: transform 0.25s;

         &:hover {
            transform: scale(1.1);
         }
    }
}