// & == .header
.header {


    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1210px;
        padding: 54px 40px;
        @media (max-width: $tablet) {
            padding: 17px 16px;
        }

    }


    &__nav-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 31px;

        @media (max-width: $tablet) {
            display: none;
        }
    }

    &__link {
        display: flex;
        gap: 24px;
        max-width: 170px;

        @media (max-width: $tablet) {
            display: none;
        }

    }

    &__link-item-1 {
        color: $color-white;
        transition: transform 0.25s;
        

        &:hover {
            color: $color-button;
            transform: scale(1.1);

        }
    }



    &__nav-label {
        

        @media (max-width: $tablet) {
            display: block;
            width: 40px;
            height: 32px;

            position: relative;
            z-index: 100;

        }
    }

    &__gam-img {
        display: none;

        @media (max-width: $tablet) {
            display: block;
        }

    }


    &__nav-input {
        display: none;

        &:checked~.header__nav-row {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: fixed;
            background-color: $color-grey;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 99;
        }
    }


    &__nav-link {

        text-align: center;

        color: $color-white;
        cursor: pointer;

        &:hover {
            color: $color-button;
            
        }
    }

    &__nav-item {


        &:hover {
            border-bottom: 1px solid $color-white;
        }

        &--active {
            border-bottom: 1px solid $color-black;
        }


    }
}